name: STM32 Linux CI
run-name: ${{github.actor}} Is Testing Github Action
on:
  push:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      with:
        submodules: recursive

    - name: Install ARM toolchain
      run: |
        sudo apt-get update
        sudo apt-get install gcc-arm-none-eabi binutils-arm-none-eabi cmake ninja-build 
        sudo apt-get install -y cppcheck clang-tidy
        
    - name: Verify installations
      run: |
        arm-none-eabi-gcc --version
        cmake --version
        ninja --version  
    
    - name: Configure Project
      run: |
        cmake -B build -G Ninja \
            -DCMAKE_TOOLCHAIN_FILE=cmake/cortex_m3.cmake \
            -DENABLE_STATIC_ANALYSIS=ON \
            -DENABLE_REGRESSION_TEST=ON \
            -DENABLE_UNIT_TEST=ON \
            -DENABLE_COVERAGE=OFF

    - name: 代码质量检查
      run: |
        cmake --build build --target static-analysis

    - name: 构建项目
      run: |
        #cmake --build build --target all --parallel
        cmake --build build --parallel

    - name: 回归测试
      run: |
        cmake --build build --target regression-test

    - name: 单元测试
      run: |
        cmake --build build --target unit-test  # 先运行基础单元测试

    - name: 上传测试报告
      uses: actions/upload-artifact@v4
      with:
        name: firmware-artifacts
        path: build/*.bin
        retention-days: 7
        
    - name: 上传测试报告
      uses: actions/upload-artifact@v4
      with:
        name: test-reports
        path: |
          build/Testing/**/*.xml  # CTest测试报告
          build/*.xml            # 静态分析报告
        retention-days: 7
