name: stm32-linux-cicd
run-name: Deploy to ${{ github.action }} by @${{ github.actor }}

on: 
    push: 
        branches: [main, master]

jobs: 
    build-stm32:
        runs-on: ubuntu-latest

        steps:
        - uses: actions/checkout@v4
        
        - name: Install dependence
          run: |
            sudo apt-get update
            sudo apt install gcc-arm-none-eabi binutils-arm-none-eabi cmake ninja-build cppcheck clang-tidy
            ls -al
        
        - name: Verify Install Tool
          run: |
            arm-none-eabi-gcc --version
            cmake --version
            ninja --version  
            cppcheck --version
            clang-tidy --version

        - name: Configuration 
          run: cmake -B build -G Ninja -DCMAKE_TOOLCHAIN_FILE=cmake/cortex_m3.cmake
        
        - name: Build
          run: |
            cmake --build build --parallel
            ls

        - name: 上传bin
          uses: actions/upload-artifact@v4
          with:
            name: firmware-artifacts
            path: |
              build /*.bin
              build /*.hex
              build /*.elf
            retention-days: 7

            
